/* CSS HEX */
/* --powder-blue: #afc2d5ff;
--honeydew: #ccddd3ff;
--nyanza: #dfefcaff;
--vanilla: #fff9a5ff;
--beaver: #b48b7dff; */

body {
  margin: 0;
  height: 100vh;
  background-color: #afc2d5d0;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
  font-family: "Dosis", sans-serif;
}
html {
  height: 100%;
}
#app,
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #afc2d599;
  height: 100%;
}
/* .navbar-home {
  background-color: #b48b7dc2;
  color: white;
  display: flex;
  align-items: center;
  max-height: 10%;
  min-height: 50px;
  top: 0;
  position: fixed;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
} */
.navbar {
  background-color: #b48b7d;
  color: white;
  display: flex;
  align-items: center;
  max-height: 10%;
  min-height: 50px;
  top: 0;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.navBarLinks {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0px 10px 0px;
}
.navBarLinks:hover {
  transform: scale(1.2);
}

.HomePage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 900px;
  padding-bottom: 15px;
}

.homePicture {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portrait {
  height: 300px;
  width: 300px;
  border-radius: 10%;
  margin: 20px;
}
.quoteDiv {
  text-align: center;
  margin: 20px;
  font-size: 25px;
}
.homePicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeDescription {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.introduction {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90%;
}
.homePageHeaders1 {
  margin-top: 50px;
}
.homePageHeaders,
.aboutHeaders {
  text-align: center;
  margin: 0;
}
.homePageLinks {
  text-decoration: none;
  font-size: 25px;
  color: #fff9a5ff;
}
.headersDiv {
  margin: 20px;
}
.aboutHeaders1 {
  text-align: center;
  margin: 0;
}

.aboutHeaders:hover {
  transform: scale(1.2);
}

.aboutPageContainer {
  height: 100%;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.About {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.aboutPTags {
  font-size: 20px;
  margin: 10px;
}
.aboutRightDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.Skills {
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.aboutTitle {
  align-self: flex-start;
}
.aboutDesc {
  width: 85%;
  height: 100%;
  overflow: auto;
}

.aboutLinksDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutImgs {
  width: 20%;
  margin: 20px;
  padding-bottom: 20px;
}
.aboutImgs:hover {
  transform: scale(1.2);
}
.aboutLink {
  height: 50%;
  margin-bottom: 35px;
}
.skillsDivTop,
.skillsDivBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  background-color: #afc2d5;
}
.topSkill,
.bottomSkill {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skillLogo {
  height: 100px;
  width: 150px;
}
.goBackLinks {
  text-align: center;
  text-decoration: none;
  font-size: 30px;

  color: #fff9a5ff;
}

.portfolioContainer {
  height: 95%;
  display: flex;
  flex-direction: column;
}
.Portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
  max-width: 900px;
}
.portfolioCapstone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.projectImagesCapstone {
  height: 60%;
  width: 300px;
}
.portFolioHeaders1 {
  text-align: center;
}
.portFolioHeaders {
  font-size: 25px;
  color: black;
  margin: 5px;
}
.portfolioLinks {
  cursor: pointer;
  text-decoration: none;
}

.portfolioTop,
.portfolioBottom {
  height: 30%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.projectTop {
  height: 100%;
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}
.project {
  height: 300px;
  width: 300px;
  margin: 15px;
  text-align: center;
}
.projectImagesTop {
  height: 180px;
  width: 95%;
}
.projectImages {
  height: 200px;
  width: 80%;
}
.formContainer {
  height: 100%;
}
.contactTitleDiv {
  height: 15%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactForm {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.linkDiv {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .HomePage {
    max-width: 600px;
  }
  .homeDescription {
    height: 100%;
  }
  .homePageHeaders1,
  .portFolioHeaders1 {
    font-size: 45px;
  }
  .aboutPageContainer {
    max-width: 600px;
  }
  .skillLogo {
    width: 100%;
    height: 100%;
  }
  .About {
    width: 100%;
  }
}
@media only screen and (max-width: 412px) {
  .aboutPageContainer {
    max-width: 300px;
    height: 95%;
    justify-content: space-evenly;
  }
  .aboutImgs {
    width: 35%;
  }
  .Skills {
    max-width: 300px;
  }
  .skillLogo {
    width: 100px;
    height: 100%;
  }
  .topSkill {
    width: 33%;
  }
  .HomePage {
    max-width: 300px;
  }
  .portrait {
    display: none;
  }
  .homeDescription {
    height: 100%;
  }
  .introduction {
    justify-content: center;
  }
  .headersDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  .homePageHeaders1,
  .portFolioHeaders1 {
    font-size: 45px;
    margin: 0;
  }
  .About {
    height: 49%;
    padding-bottom: 5px;
  }
  .aboutHeaders1 {
    margin-top: 10px;
  }
  .Portfolio {
    max-width: 330px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .portFolioHeaders1 {
    margin: 0;
  }
  .portfolioContainer {
    height: 95%;
  }
  .project {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .portfolioBottom,
  .portfolioTop {
    margin: 0;
  }

  .projectImagesTop {
    height: 110px;
    width: 100px;
    overflow-x: auto;
  }
  .projectImages {
    height: 100px;
  }
  .projectImagesCapstone {
    height: 50%;
    width: 150px;
    margin: 10px;
  }
  .googleForm {
    max-width: 330px;
  }
  .contactHeader {
    margin: 0;
  }
}
@media only screen and (max-width: 390px) {
  .HomePage {
    max-width: 300px;
  }
  .portrait {
    display: none;
  }
  .homeDescription {
    height: 100%;
  }
  .introduction {
    justify-content: space-evenly;
  }
  .homePageHeaders1,
  .portFolioHeaders1 {
    font-size: 45px;
  }
  .aboutPageContainer {
    align-items: center;
  }
  .About {
    max-width: 330px;
  }
  .aboutImgs {
    width: 100px;
    padding-bottom: 0px;
  }
  .Portfolio {
    max-width: 330px;
    padding: 15px;
  }
  .portFolioHeaders1 {
    margin: 35px 0px 0px;
  }
  .projectImagesTop {
    height: 100px;
    width: 90px;
    overflow-x: auto;
  }
  .projectImages {
    height: 100px;
  }
  .projectImagesCapstone {
    height: 50%;
    width: 150px;
  }
  .googleForm {
    max-width: 330px;
  }
  .contactHeader {
    margin: 0;
  }
}
