body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: "Dosis", sans-serif;
}
#app,
#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f5f5ff;
}
.navbar-home {
  background-color: #2039bd;
  color: white;
  display: flex;
  align-items: center;
  max-height: 10%;
  min-height: 50px;
  top: 0;
  position: fixed;
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
}
.navbar {
  background-color: #2039bd;
  color: white;
  display: flex;
  align-items: center;
  max-height: 10%;
  min-height: 50px;
  top: 0;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.navBarLinks {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navBarLinks:hover {
  transform: scale(1.2);
}

.HomePage {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.homePicture {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portrait {
  height: 300px;
  width: 300px;
  border-radius: 10%;
  margin: 20px;
}
.quoteDiv {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}
.homePicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeDescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePageHeaders,
.aboutHeaders {
  text-align: center;
}
.aboutHeaders1 {
  text-align: center;
  padding-top: 30px;
}

.aboutHeaders:hover {
  transform: scale(1.2);
}
.homePageLinks {
  text-decoration: none;
  font-size: 25px;
}
.aboutPageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.About {
  height: 50%;
  display: flex;
  flex-direction: row;
}
.aboutPTags {
  font-size: 20px;
  margin: 10px;
}
.aboutRightDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.Skills {
  height: 45%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.aboutTitle {
  align-self: flex-start;
}
.aboutDesc {
  width: 65%;
  height: 100%;
  overflow: auto;
}

.aboutLinksDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutImgs {
  width: 50%;
  margin: 20px;
}
.aboutImgs:hover {
  transform: scale(1.2);
}
.aboutLink {
  height: 50%;
  margin-bottom: 35px;
}
.skillsDivTop,
.skillsDivBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
}
.topSkill,
.bottomSkill {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.skillLogo {
  height: 100px;
  width: 150px;
}
.goBackLinks {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.Portfolio {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
}
.portfolioCapstone {
  height: 20%;
}
.projectCapstone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 170%;
  margin: 20px;
}
.projectImagesCapstone {
  height: 60%;
  width: 300px;
}
.portFolioHeaders1 {
  text-align: center;
}
.portFolioHeaders {
  font-size: 25px;
  color: black;
  margin: 0;
  padding-top: 40px;
}
.portfolioLinks {
  cursor: pointer;
  text-decoration: none;
}

.portfolioTop,
.portfolioBottom {
  height: 40%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.projectTop {
  height: 100%;
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
  padding-top: 50px;
}
.project {
  height: 300px;
  width: 300px;
  margin: 15px;
  text-align: center;
}
.projectImagesTop {
  height: 180px;
  width: 95%;
}
.projectImages {
  height: 250px;
  width: 100%;
}

.contactTitleDiv {
  height: 15%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.contactForm {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.linkDiv {
  text-align: center;
}
